<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Burger Establishment</h1>
    <p class="lead">Fresh off the grill!</p>
  </div>
</div>
<div class="row">

    <div class="mx-1 col-3">
      <h3 class="text-white text-center bg-warning p-3 mb-2 mt-2">Kitchen</h3>
      <ul>
      <div class="form-group">
        <label for="ca">Name your creation!</label>
        <input type="text" id="ca" class="burger" name="name">
      </div>
      <button id="plate"type="submit">Plate your dish!</button>
      </ul>
    </div>


    <div class="col-4">
      <h3 class="text-white text-center bg-success p-3 mb-2 mt-2">Counter</h3>
      <ul>
          {{#each burgers}}
            {{#unless devoured}}
              <li>
                {{burger_name}}
                  <button class="devour btn btn-sm btn-success mb-1" data-id="{{id}}">Serve!</button>
              </li>
            {{/unless}}
          {{/each}}
      </ul>
    </div>


    <div class="mx-1 col-3">
      <h3 class="text-white text-center bg-info p-3 mb-2 mt-2">Table</h3>
      <ul>
          {{#each burgers}}
            {{#if devoured}}
              <li>
                {{burger_name}}
                <button class="delete btn btn-sm btn-info mb-1" data-id="{{id}}">x</button>
              </li>
            {{/if}}
          {{/each}}
      </ul>
    </div>
  </div>

  <hr>
