<h1>Cats!</h1>

<h2>Fresh off the grill!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
          {{burger_name}}
      </li>
    {{/unless}}
  {{/each}}
</ul>


<h2>Prep a New Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Name your creation!</label>
    <input type="text" id="ca" name="name">
  </div>
  <button type="submit">Plate your dish!</button>
</form>
